body {
    text-align: center;
    padding:5px;
}

img {
    border-radius: 50%;
    height: 300px;
    width: 600px;
    margin-left: 15px;
    margin-top:75px;
}

.line {
    background-color: black;
    width: 150px;
    height: 10px;
    margin-left: 580;
}

p {
    font-size: 18px;
    color: white;
}

h3 {
    color: lightcoral;
}

h1 {
    color: lightpink;
}

h2 {
    color: pink;
}

.menu {
    list-style: none;
    font-family:serif;
    float:right;
    position: absolute;
    top: 10px;
    right: 30px;
    z-index:10;
    cursor: pointer;
    display: inline;

}

#about {
    background: crimson;
    width: 1000px;
    font-size: 25px;
    padding: 50px;
    text-align: center;
    margin-left: 0px;
    margin-right:0px;
    margin-top:685px;
    width:1320px;
    padding-left;0;
    left:10;
    right:0;
}

#home {
    background: linear-gradient(#e085ff 0%, #ff0059 100%);
    width: 100%;
    height: 70%;
    position: absolute;
    display: table;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    height: 100%;
    text-align: center;
    z-index: 9;
    opacity: 0.83;
}

.links {
    float: right;
    padding-top: 0px;
    padding-right: 10px;
    padding-right: 9px;
    padding-bottom: 5px;
}

.links:hover {
    background-color:white;
}
